<mat-card >
    <mat-card-title>Fixed Personal Data</mat-card-title> 
    <hr>
    <br>
    <mat-card-content *ngIf="fixedPersonalData">
        <img *ngIf="portrait" [src]="portrait.portraitData" alt="">
        <p>Personal Number: {{fixedPersonalData.personalNumber}}</p>
        <br>
        <p>Given Name: {{fixedPersonalData.givenName}}</p>
        <br>
        <p>Surname: {{fixedPersonalData.surname}}</p>
        <br>
        <p>Parent Given Name: {{fixedPersonalData.parentGivenName}}</p>
        <br>
        <p>Date of Birth: {{fixedPersonalData.dateOfBirth}}</p>
        <br>
        <p>Place of Birth: {{fixedPersonalData.placeOfBirth}}</p>
        <br>
        <p>Sex: {{fixedPersonalData.sex}}</p>
        <br>
        <p>State of birth: {{fixedPersonalData.stateOfBirth}}</p>
        <br>
        <p>Community of Birth: {{fixedPersonalData.communityOfBirth}}</p>
        <br>
        <p>Nationality: {{fixedPersonalData.nationality}}</p>

        <br>
      
    </mat-card-content>
</mat-card>
