<mat-spinner *ngIf="!allDone"></mat-spinner>
<mat-card *ngIf="allDone">
    <mat-card-title>Čitač elektronske lične karte</mat-card-title>
    <mat-card-content>
        <img [src]=getSanitizeUrl(portrait.portraitData) alt="">
        <br>
        <br>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>Podaci o građaninu</mat-expansion-panel-header>

                <mat-grid-list [cols]="2" rowHeight="2rem">
                    <mat-grid-tile>Prezime</mat-grid-tile>
                    <mat-grid-tile>{{ fixedPersonalData.surname }}</mat-grid-tile>

                    <mat-grid-tile>Ime</mat-grid-tile>
                    <mat-grid-tile>{{ fixedPersonalData.givenName }}</mat-grid-tile>

                    <mat-grid-tile>Ime jednog roditelja</mat-grid-tile>
                    <mat-grid-tile>{{ fixedPersonalData.parentGivenName }}</mat-grid-tile>

                    <mat-grid-tile>Datum rođenja</mat-grid-tile>
                    <mat-grid-tile>{{ fixedPersonalData.dateOfBirth }}</mat-grid-tile>

                    <mat-grid-tile>Mesto rođenja, opština i država</mat-grid-tile>
                    <mat-grid-tile>{{ fixedPersonalData.placeOfBirth }}, {{ fixedPersonalData.communityOfBirth }}, {{ fixedPersonalData.stateOfBirth }}</mat-grid-tile>

                    <mat-grid-tile>Prebivalište i adresa stana</mat-grid-tile>
                    <mat-grid-tile>{{ variableData.place}} {{variableData.street}} {{variableData.houseNumber}}</mat-grid-tile>

                    <mat-grid-tile>JMBG</mat-grid-tile>
                    <mat-grid-tile>{{ fixedPersonalData.personalNumber }}</mat-grid-tile>

                    <mat-grid-tile>Pol</mat-grid-tile>
                    <mat-grid-tile>{{ fixedPersonalData.sex }}</mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>Podaci o dokumentu</mat-expansion-panel-header>

                <mat-grid-list cols="2" rowHeight="2rem">
                    <mat-grid-tile>Dokument izdaje</mat-grid-tile>
                    <mat-grid-tile> {{documentData.issuingAuthority}} </mat-grid-tile>

                    <mat-grid-tile>Broj dokumenta</mat-grid-tile>
                    <mat-grid-tile> {{documentData.docRegNo}}</mat-grid-tile>

                    <mat-grid-tile>Datum izdavanja</mat-grid-tile>
                    <mat-grid-tile>{{documentData.issuingDate}}</mat-grid-tile>

                    <mat-grid-tile>Važi do</mat-grid-tile>
                    <mat-grid-tile>{{documentData.expiryDate}}</mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
